html{background-color: #f2f2f2;}

.layui-container{padding: 0;}
.header{height: 60px;}
.header .logo{position: absolute; left: 20px; top: 16px;}
.header .logo img{width: 82px; height: 31px;}

.main{background-color: #fff; min-height: 300px; margin-top: 15px; padding: 5px 20px 20px;}

.footer{margin-top: 50px; padding: 20px 0 30px; border-top: 1px solid #e2e2e2; color: #737573; text-align: center;}

/* 适配多设备 */
@media screen and (max-width: 750px) {
  .main{margin-top: 0;}
}
